.mobile-hide {
  display: none;
}

.hide-menu {
  display: none;
}

.mobile-menu-icon {
  position: relative;
  margin-left: 16px;
}

.mobile-menu{
  height: calc(100vh - 52px);
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f6f9ff;
  z-index: 3;
  overflow-y: scroll;
  transition: all 0.5s ease;
}

.mobile-menu-icon-wrap i {
  position: relative;
  color: white;
}


.mobile-menu-item {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}

.mobile-submenu-list {
  border-radius: 0 0 5px 5px;

}

.mobile-submenu-item {
  background-color: #04004d20;
  padding: 8px;
}

.mobile-submenu-item:last-child {
  border-radius: 0 0 5px 5px;
}


